
<br><br><br><br><br><br><br><br><br><br>

<form [formGroup]="voyageForm" (ngSubmit)="onSubmit()" class="travel-booking-form">
  <div class="row mb-8">
    <div class="col-sm-8 col-md-4 mb-3 mb-lg-0 col-lg-4">
      <label for="depart" class="sr-only">Départ</label>
      <select id="depart" formControlName="depart" class="form-control">
        <option value="" disabled selected>Ville de départ</option>
        <option *ngFor="let city of cities" [value]="city.name">{{ city.name }}</option>
      </select>
    </div>
    <div class="col-sm-8 col-md-4 mb-3 mb-lg-0 col-lg-4">
      <label for="arrivee" class="sr-only">Arrivée</label>
      <select id="arrivee" formControlName="arrivee" class="form-control">
        <option value="" disabled selected>Ville d'arrivée</option>
        <option *ngFor="let city of cities" [value]="city.name">{{ city.name }}</option>
      </select>
    </div>
    <div class="col-sm-8 col-md-4 mb-3 mb-lg-0 col-lg-4">
      <label for="date" class="sr-only">Date</label>
      <input id="date" formControlName="date" type="date" class="form-control" required>
    </div>
  </div>
  <div class="col-sm-8 col-md-4 mb-3 mb-lg-0 col-lg-4">
    <label for="heure" class="sr-only">Heure</label>
    <select id="heure" formControlName="heure" class="form-control">
      <option value="" disabled selected>Sélectionner l'heure de départ</option>
      <option value="08:00">08:00</option>
      <option value="17:00">17:00</option>
    </select>
  </div>
  <br>
  <div class="row align-items-center">
    <div class="col-sm-12 col-md-6 mb-3 mb-lg-0 col-lg-4">
      <button type="submit" [disabled]="!voyageForm.valid" class="btn btn-primary btn-block">Ajouter Voyage</button>
    </div>
  </div>
</form>

